.first{
    color: yellow;
    margin-left: 20px;
}
.second{
    display: flex;
    justify-content: space-between;
}
.avto{
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 100%;
    gap: 20px;
    background-color: var(--bg-color);
    color: yellow;
}
.car{
    border: 1px solid rgb(85, 79, 79);
    background-color: rgb(85, 79, 79);
    width: 28%;
    height: 80px;
    border-radius: 15px;
}
.font-style{
    color: black;
    margin-left: 10px;
}
.src{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: var(--bg-color);
    color: yellow;
}
span{
    margin: 1rem;
}
.img-uz{
    width: 80px;
    height: 50px;
    margin-left: 20px;
}
.font-styl{
    color: black;
    margin-left: 17px;
}