.first{
    color: yellow;
    margin-left: 1rem;
}
.second{
    display: flex;
    justify-content: space-between;
}
.avto{
    display: flex;
    justify-content: space-around;
    height: 1.5rem;
    width: 26rem;
    gap: 1rem;
    background-color: var(--bg-color);
    color: yellow;
}
.car{
    border: 1px solid rgb(85, 79, 79);
    background-color: rgb(85, 79, 79);
    width: 8rem;
    height: 5rem;
    border-radius: 0.8rem;
}
.font-style{
    color: black;
    margin-left: 0.5rem;
}
.src{
    position: fixed;
    top: 0;
    width: 26rem;
    background-color: var(--bg-color);
    color: yellow;
}
span{
    margin: 1rem;
}
.img-uz{
    width: 5rem;
    height: 3rem;
    margin-left: 1rem;
}
.font-styl{
    color: black;
    margin-left: 1rem;
}