.plus-0{
    overflow-y: auto;
}
.plus-1{
    color: white;
    border: 1px ;
    width: 26.8rem;
    height: 10rem;
    position: fixed;
    background-color: var(--bg-color);
}
.plus-2{
    font-size: 1rem;
    margin-left: 1rem;
}
.plus-3{
    display: flex;
    gap:0.3rem;
    border: 1px solid rgb(107, 96, 96);
    background-color: rgb(107, 96, 96);
    width: 26.8rem;
    height: 4.5rem;
}
.plus-4{
    border: 1px solid yellow;
    width: 1.9rem;
    height: 1.9rem;
    border-radius:13rem;
    background-color: yellow;
    margin-top: 0.6rem;
    margin-left: 0.5rem;
}
.plus-5{
    color: black;
    font-size: 0.8rem;
    margin-top:0.4rem;
    margin-left: 0.5rem;
}
.plus-6{
    border: 1px;
    width: 26.8rem;
    height:1.5rem;
    display: flex;
}
.plus-7{
    color: yellow;
    font-size: 1rem;
    margin-left: 0.8rem;
}
.plus-8{
    color: yellow;
    font-size: 1rem;
    margin-left:1rem;
}
.plus-9{
    border: 1px ;
    width: 26.8rem;
    height: 3rem;
    display: flex;
    gap: 0.5rem;

}
.plus-10{
    width: 12rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 0.8rem;
    margin-left:0.3rem;
    color: white;
}
.plus-11{
    width: 12rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 0.8rem;
    margin-left:0.3rem;
    color: white;
}
.plus-12{
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.plus-13{
    color: yellow;
    font-size: 1rem;
    margin-left: 1rem;
}
.plus-14{
    border: 1px solid white;
    width: 26.8rem;
    height: 3rem;
    border-radius: 0.8rem;
}
.plus-15{
    border: 1px solid white;
    width: 26.8rem;
    height: 7rem;
    border-radius: 0.8rem;
}
.plus-16{
    border: 1px;
    width: 26.8rem;
    height:1.5rem;
    display: flex;
}
.plus-17{
   border: 1px solid white;
   width: 1rem;
   height: 1rem;
   background-color: white; 
   margin-left: 1rem;
}
.plus-18{
    color: white;
    font-size: 1rem;
    margin-top: 0.1rem;
    margin-left: 1rem;
}
.plus-19{
    border: 1px solid ;
    width: 26.8rem;
    height: 3rem;
    display: flex;
    gap: 0.5rem;
}
.plus-20{
   border: 1px solid white;
   width: 18rem;
   height: 3rem;
   background-color: white;
   color: black;
   border-radius: 0.8rem;
   display: flex;
}
.plus-21{
    border: 1px solid white;
    width: 18rem;
    height: 3rem;
    background-color: yellow;
    color: black;
    border-radius: 0.8rem;
    display: flex;
}
.fa-arrow-left{
    font-size: 1rem;
    color: black;
    margin-top: 0.8rem;
}
.plus-25{
    margin-left: 1rem;
}
.plus-26{
    margin-left: 3rem;
}
.fa-arrow-right{
    font-size: 1rem;
    margin-top: 0.8rem;
    margin-left: 1rem;
}
.plus-80{
    color: yellow;
    font-size: 1rem;
    margin-left: 9rem;
}
.plus-800{
    color: yellow;
    font-size: 1rem;
    margin-left: 11.9rem;
}
.plus-8000{
    color: yellow;
    font-size: 1rem;
    margin-left: 9rem;
}
.plus-80000{
    color: yellow;
    font-size: 1rem;
    margin-left: 14rem;
}