.card-1{
    border: 1px solid black;
    background-color: black;
    width: 26.8rem;
    height: 7.5rem;
    display: flex;
    position: fixed;
}
.fa-arrow-left{
    font-size: 3rem;
    color: white;
    margin-left: 1rem;
    margin-top: 1rem;
}
.card-2{
    color: white;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
}
.card-3{
    border: 1px solid yellow;
    width: 3.5rem;
    height: 3.5rem;
    background-color: yellow;
    border-radius: 14rem;
    margin-left: 8rem;
    margin-top: 0.5rem;
}
.fa-share{
    color: black;
    font-size: 3rem;
    margin-left: 1rem!important;
    margin-top: 1rem!important;
}
.card-4{
    background-image: url('/img/1721366586_6699f83a88938_image_0.jpg');
    background-size: cover;
    background-position: center;
    width: 26.8rem;
    height: 24rem;
    padding-top: 1rem;
}
.font-10{
    color: white;
    font-size: 1rem;
}
.font-11{
    color: yellow;
    font-size: 1rem;
}
.img-6{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    background-color: black;
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    margin-left: 10rem;
    margin-top: 10rem!important;
}
.card-5{
    border: 1px solid black;
    background-color: black;
    width: 26.8rem;
    height: 29.5rem;
    margin-top: -2.5rem;
    border-radius:2rem;
}
.card-6{
    border: 1px ;
    width: 26.8rem;
    height: 4.5rem;
    display: flex;
}
.card-7{
    font-size: 1.2rem;
    color: white;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
.fa-place-of-worship{
    font-size: 1.7rem;
    color: white;
    margin: 2rem;
    margin: 0;
    padding: 0;
    margin-left: 0.9rem;
    margin-top: 0.7rem;
}
.card-8{
    border: 1px solid red;
    background-color: red;
    width: 4rem;
    height: 3.5rem;
    border-radius: 14rem;
    margin-left: 4rem;
    margin-top: 1rem;
}
.card-9{
    color: white;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
}
.card-10{
    border: 1px;
    width: 26.8rem;
    height: 1.7rem;
    display: flex;
    margin-left: 1rem;
    
}
.card-11{
    border: 1px solid yellow;
    width: 12.5rem;
    height: 1.6rem;
}
.card-12{
    font-size: 1rem;
    color: white;
    margin-left: 0.5rem;
    margin-top:0.3rem;
}
.card-13{
    font-size: 1rem;
    color: white;
    margin-left: 9.5rem;
    margin-top: 0.3rem;
}
.card-14{
    font-size: 1rem;
    color: white;
    margin-left: 8rem;
    margin-top: 0.3rem;
}
.card-15{
    font-size: 1rem;
    color: white;
    margin-left: 6.8rem;
    margin-top: 0.3rem;
}
.card-16{
    font-size: 1rem;
    color: white;
    margin-left: 7rem;
    margin-top: 0.3rem;
}
.card-17{
    font-size: 1rem;
    color: white;
    margin-left: 8rem;
    margin-top: 0.3rem;
}
.card-18{
    font-size: 1rem;
    color: white;
    margin-left: 10rem;
    margin-top: 0.3rem;
}
.card-19{
    font-size: 1rem;
    color: white;
    margin-left: 9rem;
    margin-top: 0.3rem;
}
.card-20{
    font-size: 1rem;
    color: white;
    margin-left: 9rem;
    margin-top: 0.3rem;
}
.card-21{
    font-size: 1rem;
    color: white;
    margin-left: 9rem;
    margin-top: 0.3rem;
}
.card-22{
    color: white;
    font-size: 1.2rem;
    margin-left: 1rem;
}
.card-23{
    width: 3rem;
    height: 2rem;
    margin-left: 21rem;
}
.card-24{
    border: 1px solid yellow;
    background-color: yellow;
    width: 26.8rem;
    height: 4rem;
    display: flex;
    gap: 0.3rem;
    position: fixed;
}
.card-25{
    border: 1px solid black;
    border-radius: 14rem;
    width: 3.7rem;
    height: 2rem;
    background-color: black;
    margin-top: 0.8rem;
    margin-left: 0.5rem;
}
.card-26{
    border: 1px solid black;
    background-color: black;
    width: 13rem;
    height: 2rem;
    border-radius: 1.2rem;
    margin-top: 1rem;
    margin-left: 0.3rem;
    display: flex;
}
.fa-ring{
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top:0.3rem;
}
.fa-timeline{
    color: white;
    font-size: 1.5rem;
    margin-left: 0.4rem;
    margin-top:0.3rem;
}
.fa-message{
    color: white;
    font-size: 1.4rem;
    margin-left: 0.8rem;
    margin-top:0.4rem;
}
.fa-phone{
    color: white;
    font-size: 1.3rem;
    margin-left: 0.6rem;
    margin-top:0.3rem;
}
.card-27{
    color: white;
    font-size: 0.8rem;
    margin-left: 0.4rem;
}

