
.first{
    color: white;
    margin-left: 1rem;
    font-size: 1.3rem;
}
.second{
    display: flex;
}
.fa-music{
    color: yellow;
    font-size: 1rem;
    margin-left: 14rem;
    margin-top: 1.5rem;
}
.fa-list{
    color: yellow;
    font-size: 1rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.house-1{
    color: white;
    font-size: 1rem;
    margin-left: 1.5rem;
}
.house-01{
    color: white;
    font-size: 1rem;
    margin-left: 1.5rem;
}
.house-001{
    color: white;
    font-size: 1rem;
    margin-left: 1.5rem;
}
.house-100{
    color: yellow;
}
.img-04{
    border: 1px solid silver;
    background-position: center;
    background-size: cover;
    width: 26rem;
    height: 18rem;
    background-image: url('/img/1723216149_66b63115da9f3_image_0.jpg');
    margin-top: 1.5rem;
}
.img-2{
    width: 100vw;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    
}
.img-3{
    width: 100vw;
    height: 9rem;
    justify-content: flex-end;
}

.img-6{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    background-color: black;
    width: 12rem;
    height: 2rem;
    border-radius: 1rem;
    margin-left: 9rem;
    margin-top: 5rem!important;
}
.font-10{
    color: white;
    font-size: 1rem;
}
.font-11{
    color: yellow;
    font-size: 1rem;
}
.item{
    color: yellow;
}
.second-div{
    border: 1px solid rgb(31, 30, 30);
    background-color: rgb(31, 30, 30);
    width: 26rem;
    height: 18rem;
    border-radius: 0.8rem;
}
.city{
    color: white;
}
.str-1{
    color: white;
    margin-left: 5rem;
    margin-top: 18rem;
}
.div-search{
    display: flex;
    height: 4.5rem;
    width: 26rem;
    gap: 0.8rem;
    
}
.search{
    border: 1px solid yellow;
    border-radius: 0.8rem;
    width: 6rem;
    height: 4.5rem;
    color: white;
    font-size: 1.2rem;
}
.items{
    margin-top: 1.5rem;
    margin-left: 0.3rem;
}
.house-2{
    display: flex;
}
.house-3{
    border: 1px solid yellow;
    background-color: yellow;
    width: 12rem;
    height: 2rem;
    border-radius: 0.8rem;
    margin-top: 1.3rem;
    margin-left: 0.6rem;
}
.house-4{
    border: 1px solid red;
    background-color: red;
    width: 7rem;
    height: 2rem;
    border-radius: 0.8rem;
    margin-top: 1.3rem;
    margin-left: 0.6rem;
}
.house-5{
    color: black;
    font-size: 0.8rem;
    margin-left: 0.7rem;
}
.footer{
    border: 1px solid yellow;
    background-color: yellow;
    width: 26rem;
    height: 3.5rem;
    display: flex;
    gap: 0.3rem;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
}
.icon{
    border: 1px solid yellow;
    background-color: black;
    border-radius: 13rem;
    width: 4rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.icons{
    border: 1px solid yellow;
    background-color: white;
    border-radius: 13rem;
    width: 4rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.fist{
    color: black;
    margin-left: 1rem;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    margin-top: 0.3rem;
}
.seond{
    color: yellow;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    margin-top: 0.3rem;
}