.footer{
    border: 1px solid yellow;
    background-color: yellow;
    width: 26.8rem;
    height: 3rem;
    display: flex;
    gap: 0.3rem;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
}
.icon{
    border: 1px solid yellow;
    background-color: black;
    border-radius: 14rem;
    width: 4rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.active{
    border: 1px solid yellow;
    background-color: white!important;
    border-radius: 14rem;
    width: 4rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.fist{
    color: black;
    margin-left: 1rem;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    margin-top: 0.3rem;
}
.active .seond{
    color: black !important;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    margin-top: 0.3rem;
}
.active .mest{
    color: black!important;
}
.mest{
    font-size: 1.6rem!important;
    margin-top: 0.3rem!important;
    margin-left: 0.3rem!important;
}